
@{
    ViewData["Title"] = "Help";
}
<h1>Phone Book&#xae; Help</h1>
<small>Last Updated: 2021-01-26 by Mark van Dyk</small>
<br />
<br />
<p><strong>Helpfull Demonstration Video</strong></p>
<iframe width="900" height="506" src="https://www.youtube.com/embed/lrf4U8BNRQw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<br />
<br />
<p>Additional information can also be found under the <a href="/PhoneBooks/Faq">FAQ</a> section.</p>